*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
 --player-x-sign:"X";
 --current-player:"X";
 --player-o-sign:"O";
}
.game-container{
    max-width: 500px;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 220px auto ;
    grid-template-areas: 
            "player-x player-o"
            "game game";

    background-color: blue;
   

}
.game-container > *{
    background-color: aliceblue;
    padding: 10px;
}
[class^="player"]{
    border-radius: 50%;
    border:15px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 200px;
    justify-self: center;
    align-self: center;
    transition: transform .3s ease;
}
[class^="player"].winner{
    transform: scale(1.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
[class^="player"].loser{
    transform: scale(.5);
    opacity: .8;
}
[class^="player"].play{
    transform: scale(1.02);
}
[class^="player"].wait{
    transform: scale(.02);
}
[class^="player"]::after{
    position: absolute;
    right: -5%;
    bottom: 20%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
   
}
.hide{
    opacity: 0;
    pointer-events: none;
}
.player-x{
    grid-area: player-x;  
}
.player-x::after{
    content: var(--player-x-sign);
    right: unset;
    left: -5%;
}
.player-o{
    
    grid-area: player-o;
    border-color: green;
}
.player-o::after{
    content: var(--player-o-sign);
  
}
.game{
    grid-area: game;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    position: relative;
}
.game .overlay{
  position: absolute;
  /* grid-area: game; */
  outline: 1px solid;
  width: 95%;
  height: 90%;
  background: #38363647;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 5px black;
  text-transform: capitalize;
}
.game .overlay p{
    padding: .5rem;
    margin-bottom: .5rem;
    font-size: 1.rem;
}
.game table{
  width: 80%;
  height: 400px;
  table-layout: fixed;
  font-size: 40px;
  text-align: center;
  outline: 1px solid;
  transform: rotateX(50deg);
}
.game table tr{
    height: 33.33%;
}
.game table td{
    border: 1px solid gray;
    border-collapse: collapse;
    position: relative;
}
.game table tr:nth-child(odd) td:nth-child(odd){
    background-color: rgb(218, 218, 218);
}
 td::after{
    position: absolute;
    content:" ";
    width: 100%;
    height: 100%;
    font-size: 40px;
    line-height:100px;
    text-align: center;
    top: 0;
    left: 0;
}
/* td:hover::after{
    content: var(--current-player);
} */
/*
td.x::after{
    content: var(--player-x-sign);
}
td.o::after{
    content: var(--player-o-sign);
} */
.game table tr:nth-child(even) td:nth-child(even){
    background-color: rgb(218, 218, 218);
}
.controles{
    grid-area: controls;
    display: flex;
    align-items: center;
    justify-content: center;
}
.controles button{
    outline: none;
  border: none;
  background: green;
  padding: 15px;
  border-radius: 3px;
  width: 100px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}